@use postcss-preset-env {
  stage: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter&family=Poppins:wght@700;900&display=swap');
body,
html {
  font-family: "Inter", sans-serif;
    font-display: swap;
}

.aspect-ratio {
  overflow: hidden;
  padding-block-start: 100%;
  position: relative;
}

.aspect-ratio > * {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
